**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md

# Docker ignore file: The . dockerignore file is helpful to avoid inadvertently sending files or 
#directories that are large or contain sensitive files to the daemon or avoid adding them to the
# image using the ADD or COPY commands.